*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    background-color: hsl(0deg 0% 100%);
    font-family: 'Kumbh Sans', sans-serif;
}

#root{
    padding: 1rem 2rem;
}